/* colors  */
:root {
  --color1: #000000;
  --color2: #b87c4c;
  --color3: #e2b659;
  --color4: #f9f871;
  --color5: #ffffff;
  --color6: #b19377;
  --color7: #6e3201b5;
  --color8: #adadad;
    --ff-1:  "Righteous", cursive;

}
/* scrollbar  */
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.3em;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color4);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color2);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 67px;
  transition: all 1s;

  /* our navbar's height is 67px. we add that 67 px padding top to fit the page in links   */
}
/* scrollbar end  */

/* general (*) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: var(--color5);
  font-family: var(--ff-1);
}
h2 {
  letter-spacing: 0.2rem;
  color: var(--color2);
  font-weight: 100;
}
h5 {
  letter-spacing: 0.2rem;
  color: var(--color5);
  font-weight: 100;
}
p {
  letter-spacing: 0.09rem;
  font-weight: 100;
  color: var(--color2);
}
/* navbar  */
nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 8vh;
  background-color: var(--color1);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
}
/* navbar navbar logo  */
.nav-logo {
  color: var(--color5);
}
.nav-logo span {
  position: relative;
}
.nav-logo span:hover {
  color: var(--color2);
}
.nav-logo:hover {
  transition: 1s;
}
.nav-logo a:hover {
  color: var(--color2);
}
.nav-logo span:after {
  content: "";
  position: absolute;
  background-color: var(--color4);
  height: 3px;
  width: 0%;
  bottom: -7px;
  left: 0;
  transition: 1s all ;
}
.nav-logo span:hover:after {
  width: 100%;
}
.nav-logo span:after {
  width: 0%;
}
.nav-logo span::before {
  content: "";
  position: absolute;
  background-color: var(--color4);
  height: 3px;
  width: 0%;
  left: 0;
  transition: 1s all ;
  
}
.nav-logo span:hover::before {
  width: 100%;
}
.nav-logo span:hover {
  color: var(--color2);
}
/* navbar navbar logo end  */
nav ul {
  display: flex;
  width: 50%;
  gap: 8px;
  justify-content: end;
}
.nav-list {
  color: var(--color5);
  gap: 20px;
  margin-right: 2rem;
}
.nav-list-collapse {
  background-color: var(--color2);
  color: var(--color5);
  width: 100%;
  height: 20rem;
  padding-top: 2rem;
}
.nav-list-collapse ul li {
  margin: 2rem;
  font-size: 17px;
}
.nav-list-collapse ul li a:hover {
  color: var(--color1);
}
a {
  position: relative;
}
nav ul li a:after {
  content: "";
  position: absolute;
  background-color: var(--color4);
  height: 3px;
  width: 0%;
  bottom: -7px;
  left: 0;
  transition: 1s;
}
nav ul li a:hover:after {
  width: 100%;
}
nav ul li a:hover {
  color: var(--color2);
}
nav ul li a:active {
  width: 100%;
  color: var(--color2);
}
/* navbar end */

/* hero section  */
.hero-section-container {
  width: 100%;
  height: 100vh;
}
.hero-section {
  width: 100%;
  height: 100%;
  background: url(./images/hero2.png);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}
/* hero section end  */

/* about me  */
.about-me {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--color1);
  align-items: normal;
}
.about-me-left h2, p{
  padding: 0.5rem 2rem;
}
.about-me-right {
  background: url(./images/profil.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* about me end  */

/* interest   */
.interests {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color6);
  justify-content: space-around;
  transition: all 2s;
}
.interests div{
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color1);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: .5s;
  border: .1px solid black;
  box-shadow: 0px 0px 63px 18px rgba(0,0,0,0.75);
}
#interestOne:hover{
  width: 250px;
  background-image: url(./images/web-dev.jpg);
  box-shadow: 0px -50px 67px -12px rgba(0,0,0,0.75);
}
#interestTwo:hover{
  width: 250px;
  background-image: url(./images/unity-vs-unreal.webp);
  box-shadow: 0px 50px 67px -12px rgba(0,0,0,0.75);
}
.interestSelected{
  width: 700px!important;
  min-height: 300px;
  background-color: #000000;
  box-shadow: 0px 0px 63px 18px rgba(0,0,0,0.75);
  display: none;
}
.visible{
  display: flex;
}
.interestSelected::before{
  font-size: 16px;
}
.interestSelected::after{
  font-size: 16px;
}

/* interests end */

/* projects  */
.projects {
 background-color: var(--color2);
}
.projects-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.carousel-top{
  margin: auto;
  margin-top: 2vh;
  margin-bottom: 0;
  width: 80vw;
  height: 70vh;
  border-radius: 10px;
  background: url(./images/project1.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 75px 10px;
  transition: all 1.3s;
  cursor: pointer;
}
.carousel-bot{
  margin: auto;
  margin-top: 0;
  margin-bottom: 8vh;
  width: 80vw;
  height: 20vh;
  background-color: var(--color6);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carousel-bot button{
  background: none;
  border: none;
}
.arrow{
  width: 170px;
  aspect-ratio: 1;
  scale: 0.4;
  background-image: url(./images/arrow.png);
  background-size: cover;
  cursor: pointer;
  transition: all .7s;

}
.arrow:hover{
  scale: 0.5;
  background-image: url(./images/arrow2.png);
  transform: rotateX(180deg);
}
.active-arrow{
  scale: 0.5;
  background-image: url(./images/arrow3.png)!important;
  transform: rotate(180deg);
  animation: shake 1.7s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translateY(0px) rotate(180deg); }
  50% { transform: translateY(40px) rotate(180deg); }
  100% { transform: translateY(0px) rotate(180deg); }
}
/* projects end  */

/* contact  */
.contact {
  position: relative;
  width: 100%;
  height: 25vh;
  background-color: var(--color1);
}
.social {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social li a i{
  margin-left: 3rem;
  margin-right: 3rem;
  transition: all .6s;
}
.social li a i:hover {
  scale: 1.2;
  color: var(--color2) !important;
  box-shadow: rgba(249, 248, 113, 0.9) 0px 0px 75px 20px;
}
/* contact end  */

/* to top  */
.to-top {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  font-size: 32px;
  background: url(./images/favicon3.png);
  opacity: 1;
  transition: all 0.3s;
  scale: 0.4;
}
.to-top:hover {
  scale: 0.5;
  background-color: rgba(249, 248, 113, 0.902);
  background: url(./images/favicon2.png);
  box-shadow: rgba(249, 248, 113, 0.9) 0px 0px 75px 10px;
}
/* to top end */

/* responsives  */
/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 599px) {
  .nav-list-collapse {
    display: block;
    font-size: 1rem;
  }
  .nav-list {
    display: none;
  }
  nav .nav-logo {
    font-size: 1.1rem;
    width: 100%;
  }
  .nav-logo span::before {
    display: none;
  }
  .about-me {
    display: flex;
    flex-direction: column;
  }
  .about-me-left {
    width: 100%;
  }
  .about-me-right {
    width: 100%;
    aspect-ratio: 1;
  }
  .bosluk-1 {
    height: 1.5rem;
  }
  .interests {
    display: none;
  }
  .social .fa-brands {
    margin: .7rem;
  }
  .social{
    flex-direction: row;
  }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .nav-list-collapse {
    display: block;
    font-size: 1rem;
  }
  .nav-list {
    display: none;
  }
  nav .nav-logo {
    font-size: 1.2rem;
    width: 100%;
  }
  .nav-logo span::before {
    display: none;
  }
  .about-me {
    display: flex;
    flex-direction: column;
  }
  .about-me-left {
    width: 100%;
  }
  .about-me-right {
    width: 100%;
    aspect-ratio: 1;
  }
  .bosluk-1 {
    height: 1.5rem;
  }
  .social .fa-brands {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .book-container{
    margin-left: 12rem;
  }
  .book {
    height: 14rem;
    width: 14rem;
    font-size: .7rem;
    margin-left: 7rem;
  }
  .page {
    width: 14rem;
    height: 14rem;
  }
  .page-2{
    font-size: 0.7rem;
  }
  .book .page-1::after{
    font-size: 1rem;
    padding-top: 1rem;
  }
  .social{
    flex-direction: row;
  }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
  .nav-list-collapse {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  nav .nav-logo {
    width: 12rem;
  }
  nav .nav-list {
    font-size: 1.1rem;
  }
  nav .nav-logo {
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    padding-right: 1rem;
  }
  .nav-logo span::before {
    bottom: 29px;
    display: inline-block;
  }
  .about-me {
    display: flex;
    flex-direction: column;
  }
  .about-me-left {
    width: 100%;
  }
  .about-me-right {
    width: 100%;
    aspect-ratio: 1;
  }
  .bosluk-1 {
    height: 1.5rem;
  }
  .social .fa-brands {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .book {
    height: 20rem;
    width: 20rem;
    font-size: 1rem;
    margin-left: 10rem;
  }
  .page-2{
    font-size: 0.9rem;
  }
  .page {
    width: 20rem;
    height: 20rem;
  }
  .book .page-1::after{
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  .social{
    flex-direction: row;
  }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
  .nav-list-collapse {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  nav .nav-logo {
    width: 27rem;
  }
  nav .nav-list {
    font-size: 1.2rem;
  }
  nav .nav-logo {
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    padding-right: 10rem;
  }
  .nav-logo span::before {
    bottom: 30px;
    display: inline-block;
  }
  .about-me {
    display: flex;
    flex-direction: column;
  }
  .about-me-left {
    width: 100%;
  }
  .about-me-right {
    width: 100%;
    aspect-ratio: 1;
  }
  .bosluk-1 {
    height: 2rem;
  }
  .social .fa-brands {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .book {
    height: 27rem;
    width: 27rem;
    margin-left: 13rem;
  }
  .page-2{
    font-size: 1.2rem;
  }
  .page {
    width: 100%;
    height: 27rem;
  }
  .book .page-1::after{
    font-size: 1.5rem;
  }
  .social{
    flex-direction: row;
  }
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .nav-list-collapse {
    display: none;
  }
  .nav-list {
    display: flex;
  }
  nav .nav-logo {
    width: 50rem;
  }
  nav .nav-list {
    font-size: 1.3rem;
  }
  nav .nav-logo {
    font-size: 1.9rem;
    letter-spacing: 0.1em;
    padding-right: 27rem;
  }
  .nav-logo span::before {
    bottom: 40px;
    display: inline-block;
  }
  .about-me {
    display: flex;
    flex-direction: row;
  }
  .about-me-left {
    width: 50%;
    aspect-ratio: 1;
    text-align: center;
    vertical-align: middle;
    align-items: center;
  }
  .about-me-left h2 {
    transform: translateY(10rem);
  }
  .about-me-right {
    width: 50%;
    aspect-ratio: 1;
  }
  .bosluk-1 {
    height: 300px;
  }
  .social .fa-brands {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .book {
    height: 27rem;
    width: 27rem;
   margin-left: 15rem;
  }
  .page-2{
    font-size: 1.4rem;
  }
  .page {
    width: 100%;
    height: 27rem;
  }
  .book .page-1::after{
    font-size: 2rem;
  }
  .social{
    flex-direction: row;
  }
}